@import "vars";
@import "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $main-bg-color;
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  padding: 0 20px;
}

.header {
  &__inner {
    background-color: $white-color;
    min-height: 88px;
    // border: 1px solid black;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
  }
  &__divider {
    min-width: 2px;
    min-height: 32px;
    background-color: #eaeaea;
  }
}

@media (min-width: 768px) {
  .header {
    position: static;
  }
}
@media (min-width: 1120px) {
  .header {
    position: static;
  }
}

.main {
  &__h1-wrapper {
    margin-top: 24px;
    display: flex;
    gap: 12px;
    width: 304px;
    height: 40px;
  }
  &__highlight {
    background-color: #41f6d7;
    width: 4px;
    height: 40px;
  }
  &__h1 {
    font-family: "TT Lakes Bold";
    font-size: 28px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .main {
    position: static;
  }
}
@media (min-width: 1120px) {
  .main {
    position: static;
  }
}
