@import "vars";
@import "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $main-bg-color;
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  padding: 0 20px;
}

.header {
  &__inner {
    background-color: white;
    min-height: 88px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
  }
  &__divider {
    // min-width: 2px;
    // min-height: 32px;
    background-color: #eaeaea;
  }
  @media (min-width: 768px) {
  }
}
