@import "vars";
@import "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $main-bg-color;
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    position: static;
  }
}
@media (min-width: 1120px) {
  .container {
    position: static;
  }
}

.header {
  &__nav-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: $white-color;
    // background-color: salmon;
    // width: 100%;
  }
  &__nav {
    min-height: 88px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
  }
  &__divider {
    min-width: 2px;
    min-height: 32px;
    background-color: #eaeaea;
  }
}

@media (min-width: 768px) {
  .header {
    position: static;
  }
}
@media (min-width: 1120px) {
  .header {
    position: static;
  }
}

.main {
  // margin-left: 16px;
  // border: 1px solid black;
  &__h1-wrapper {
    // border: 1px solid black;
    position: relative;
    margin-top: 24px;
  }
  &__highlight {
    background-color: #41f6d7;
    width: 8px;
    height: 40px;
    border-radius: 4px;
    position: absolute;
    left: -20px;
    // transform: translate(-26px, 0);
  }
  &__h1 {
    font-family: "TT Lakes Bold";
    font-size: 28px;
    text-align: left;
  }
  &__slide-menu {
    margin-top: 24px;
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__slide-item {
    background-color: $main-bg-color;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 9px;
    border: 2px solid $main-bg-color;
    // border: 2px solid black;

    font-family: "TT Lakes Medium";
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #7e7e82;
    &:hover {
      border: 2px solid #b8ffec;
      border-radius: 6px;
    }
  }
}

@media (min-width: 768px) {
  .main {
    position: static;
    &__slide-menu {
      margin-left: 24px;
    }
  }
}
@media (min-width: 1120px) {
  .main {
    position: static;
  }
}
