@import "vars";
@import "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $main-bg-color;
  font-family: "TT Lakes Medium";
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}
@media (min-width: 1120px) {
  .container {
    padding: 0 32px;
  }
}

.header {
  &__nav-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: $white-color;
    // background-color: salmon;
    // width: 100%;
  }
  &__nav {
    min-height: 88px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
  }
  &__left-wrapper {
    display: flex;
    gap: 17px;
  }
  // &__divider {
  //   min-width: 2px;
  //   min-height: 32px;
  //   background-color: #eaeaea;
  // }

  &__left-divider {
    display: none;
    min-width: 2px;
    min-height: 32px;
    background-color: #eaeaea;
  }
  &__right-divider {
    min-width: 2px;
    min-height: 32px;
    background-color: #eaeaea;
  }

  &__icons-container {
    display: flex;
    // min-width: 500px;
    gap: 20px;
  }

  &__tablet-icons {
    display: none;
  }
  &__main-icons {
    display: flex;
    gap: 16px;
  }
}

@media (min-width: 768px) {
  .header {
    position: static;

    &__left-wrapper {
      display: flex;
    }
    &__left-divider {
      display: block;
    }
    &__right-divider {
      position: static;
    }
    &__icons-container {
      display: flex;
      gap: 20px;
    }
    &__tablet-icons {
      display: flex;
      gap: 16px;
    }
  }
}
@media (min-width: 1120px) {
  .header {
    position: static;
    display: none;
  }
}

.main {
  &__icons {
    display: none;
  }
  &__h1-wrapper {
    // border: 1px solid black;
    position: relative;
    margin-top: 24px;
  }
  &__highlight {
    background-color: #41f6d7;
    width: 8px;
    height: 40px;
    border-radius: 4px;
    position: absolute;
    left: -20px;
    // transform: translate(-26px, 0);
  }
  &__h1 {
    font-family: "TT Lakes Bold";
    font-size: 28px;
    text-align: left;
  }
  &__slide-menu {
    margin-top: 24px;
    // display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    .item {
      background-color: $main-bg-color;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 16px;
      padding-right: 9px;
      border: 2px solid $main-bg-color;
      // border: 2px solid black;

      font-size: 16px;
      line-height: 24px;
      text-align: left;
      color: #7e7e82;
      &--hide {
        display: none;
      }
      &:hover {
        border: 2px solid #b8ffec;
        border-radius: 6px;
      }
      @media (max-width: 768px) {
        &--hide-mobile {
          display: none;
        }
        &--show-mobile {
          display: inline-block;
        }
      }
      @media (min-width: 768px) {
        &--hide-tablet {
          display: none;
        }
        &--show-tablet {
          display: inline-block;
        }
      }
      @media (min-width: 1120px) {
        &--hide-desktop {
          display: none;
        }
        &--show-desktop {
          display: inline-block;
        }
      }
    }
  }

  &__bottom-left {
    // border: 1px solid black;

    @media (min-width: 1120px) {
      margin-bottom: 3.5rem;
    }
    .descr {
      font-size: 14px;
      color: #1b1c21;
      margin-bottom: 16px;
      @media (max-width: 768px) {
        &--hide-mobile {
          display: none;
        }
        &--show-mobile {
          display: inline-block;
        }
      }
      @media (min-width: 768px) {
        &--hide-tablet {
          display: none;
        }
        &--show-tablet {
          display: inline-block;
        }
      }
      @media (min-width: 1120px) {
        &--hide-desktop {
          display: none;
        }
        &--show-desktop {
          display: inline-block;
        }
      }
    }
  }
  &__arrows {
    margin-right: 8px;
  }
  &__next {
    display: inline-block;
    margin-top: 16px;
    font-size: 16px;
    color: #1b1c21;
    border: none;
    background-color: #f8f8f8;
    cursor: pointer;
  }
  &__picture {
    margin-top: 16px;
    // height: 230px;
  }
}

@media (min-width: 768px) {
  .main {
    position: static;

    &__highlight {
      left: -28px;
    }

    &__bottom-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 48px;
    }

    &__picture {
      border-radius: 5px;
    }
  }
}
@media (min-width: 1120px) {
  .main {
    position: static;

    &__services {
      margin-top: 42px;
      padding-top: 0;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    &__h1-wrapper {
      margin: 0;
    }
    &__highlight {
      left: -36px;
    }
    &__icons {
      display: flex;
      gap: 32px;
      font-weight: bold;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color: #1b1c21;
      }
    }
    &__picture {
      width: 530px;
    }
  }
}
