@import "vars";
@import "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $main-bg-color;
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    position: static;
  }
}
@media (min-width: 1120px) {
  .container {
    position: static;
  }
}

.header {
  &__inner {
    background-color: $white-color;
    min-height: 88px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
  }
  &__divider {
    min-width: 2px;
    min-height: 32px;
    background-color: #eaeaea;
  }
}

@media (min-width: 768px) {
  .header {
    position: static;
  }
}
@media (min-width: 1120px) {
  .header {
    position: static;
  }
}

.main {
  &__h1-wrapper {
    margin-top: 24px;
    display: flex;
    gap: 12px;
    width: 304px;
    height: 40px;
  }
  &__highlight {
    background-color: #41f6d7;
    width: 4px;
    height: 40px;
  }
  &__h1 {
    font-family: "TT Lakes Bold";
    font-size: 28px;
    text-align: left;
  }
  &__slide-menu {
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__slide-item {
    background-color: $main-bg-color;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 9px;
    border: 2px solid $main-bg-color;

    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    text-align: left;

    &:hover {
      border: 2px solid #b8ffec;
      border-radius: 6px;
    }
  }
}

@media (min-width: 768px) {
  .main {
    position: static;
  }
}
@media (min-width: 1120px) {
  .main {
    position: static;
  }
}
